# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env
*.venv
env/
venv/
ENV/
env.bak/
*.bak

# Django media/static files
/media
/staticfiles
/static

# Node modules (React)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build output
build/
dist/
*.tgz

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local settings
*.local
.env.*

# Coverage reports
htmlcov/
.coverage
.tox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Misc
*.swp
*.swo
.idea/
djangouser.md